*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
}

*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    background-color: #101219;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden_block {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -2;
}

.navigation{
    background-color: #15171d;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 5%);
    top: 0;
}

.header_nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 25px;
    font-size: 30px;
}

.nav_ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_ul li{
    margin: 0 30px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 70px;
    height: calc(100vh - 70px);
}

.header_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header_text_1{
    width: 90%;
    margin: 0 auto;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
}

.header_text_2{
    width: 84%;
    margin: 30px auto;
    font-size: 25px;
    text-align: center;
}

.squares{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.square{
    height: 200px;
    padding: 20px 40px;
    border: 2px solid #f9a766;
}

.section_1{
    width: 100%;
    height: auto;
    background-color: #15171d;
    position: relative;
    
}

.section_1_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_1_1 h2{
    margin: 40px 0 20px 0;
    font-size: 30px;
    font-weight: 500;
}

.squares_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "num1 num2 num3" "num4 num5 num6";
    margin-bottom: 70px;
    gap: 30px;
    margin-top: 20px;
}
.num1{
    grid-area: num1;
}
.num2{
    grid-area: num2;
}
.num3{
    grid-area: num3;
}
.num4{
    grid-area: num4;
}
.num5{
    grid-area: num5;
}
.num6{
    grid-area: num6;
}

.square_2{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 450px;
    padding: 20px 40px;
    background-color: #101219;
}

.square_2 h2{
    font-size: 25px;
}

.squares_2 span{
    font-size: 16px;
}

.square_2:hover{
    border-bottom: 1px solid #fe7773;
}

.section_2{
    background-color: #101219;
    position: relative;
    
}

.section_2_1{
    display: flex;
    padding: 50px 0;
}

.section_2_1_1 img{
    height: 350px;
    width: 300px;
    padding: 10px 0;
}

.section_2_1_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_2_1_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section_2_1_2_text{
    padding: 30px;
}

.section_2_1_2_text h2{
    margin: 10px 0 10px 0;
}

.squares_3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.square_3{
    height: 150px;
    margin: 0 10px 0 10px;
    padding: 20px 40px;
    border: 2px solid #f9a766;
}

.squares_3 i {
    font-size: 30px;
}

.section_5{
    width: 100%;
    height: 500px;
    background-color: #15171d;
    position: relative;
    z-index: 0;
}

.section_5_1 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_5_1 h2{
    padding: 30px;
    font-size: 30px;
}

.squares_4{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 300px);
    width: 100%;
    gap: 20px; */
    width: 100%;
    height: calc(65vh - 160px);
}

.square_4{
    border: 1px solid #f9a766;
    padding: 10px;
    height: 50vh;
}

.section_3{
    position: relative;
    height: auto;
    overflow: hidden;
    background-blend-mode: soft-light;
    background: url(../source/slider-1.jpg) #12141c no-repeat fixed center/cover;
}

.section_3_1 h2{
    padding: 0 0 10px 0;
    font-size: 28px;
}

.section_3_1 span{
    font-size: 16px;
}

.section_3_1{
    height: auto;
    width: 100%;
    padding: 100px 60px 100px 60px;
}

.section_4{
    background-color: #101219;
    position: relative;
    
}

.section_4_1{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_4_1 h2{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 5px 0;
    /* как удлинить зачеркивание текста */
}

.section_4_1 h3{
    font-size: 30px;
    padding-bottom: 40px;
}

.section_4_1 form div{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}


.section_4_1 form div input{
    height: 50px;
    background-color: #15171d;
    margin-bottom: 20px;
    padding-left: 20px;
    outline: none;
    font-size: 14px;
}

.section_4_1 form div input:focus{
    border-bottom: 1px solid #f9a766;
}

.section_4_1 form textarea{
    background-color: #15171d;
    margin-bottom: 10px;
    padding: 20px;
    outline: none;
    min-height: 200px;
    min-width: 1200px;
    max-width: 1200px;
    overflow: hidden;
    font-size: 14px;
}

.section_4_button{
    width: 150px;
    height: 60px;
    background-color: #15171d;
    margin-bottom: 90px;
}

footer{
    background-color: #101219;
    position: relative;
}

.section_6_1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
}

.section_6_2{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.section_6_1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.section_6_1 div i{
    font-size: 28px;
    padding-bottom: 20px;
}

.section_6_1 div span{
    font-size: 16px;
    padding-top: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.section_6_2{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.footer_square{
    margin: 0;
    border: 1px solid #f9a766;
    background-color: #101219; 
}

.footer_square_1{
    margin: 0;
    border: 1px solid #f9a766;
    background-color: #101219; 
    border-right: none;
}

.video{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.video_media{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.blackout{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width:1300px){
    .container{
        max-width: 970px;
    }
    .section_4_1 form textarea{
        min-width: 970px;
        max-width: 970px;
    }
    .section_4_button{
        width: 130px;
        height: 50px;
    }

}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }
    .section_4_1 form textarea{
        min-width: 750px;
        max-width: 750px;
    }
    .section_4_button{
        width: 120px;
        height: 45px;
    }
}


/*  
    основные размеры font-size 16px
    основные цвета
    background-color: #15171d, #101219, #f9a766 #fe7773 (оранжевый);
*/

/* сделать слайдер */

/* сделать калькулятор цены */

/* секция 2 сделать отступ */

/* добавить ватцап инст в навигацию */

/* при навидений в навигаций ховер или тип того */

/* поменять стиль скроллбара */

.slider{
    background-color: #15171d;
    position: relative;
}

.slide {
    height: 350px !important;
    width: 100vw;
    background-color: #101219;
    padding: 20px;
    margin: 0 5px 5px 5px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}