*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
}

*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    background-color: #101219;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden_block {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -2;
}

.navigation{
    background-color: #15171d;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 5%);
    top: 0;
}

.header_nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 25px;
    font-size: 30px;
}

.nav_ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav_ul li{
    margin: 0 20px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 9vh;
    height: calc(100vh - 70px);
}

.header_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header_text_1{
    width: 90%;
    margin: 0 auto;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
}

.header_text_2{
    width: 84%;
    margin: 30px auto;
    font-size: 25px;
    text-align: center;
}

.squares{
    display: flex;
}

.square{
    width: 430px;
    height: 200px;
    margin: 10px 10px;
    padding: 20px 40px;
    border: 2px solid #f9a766    ;
}

.section_1{
    width: 100%;
    height: auto;
    background-color: #15171d;
    position: relative;
    
}

.section_1_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_1_1 h2{
    margin: 40px 0 20px 0;
    font-size: 30px;
    font-weight: 500;
}

.square_2{
    max-width: 350px;
    height: 450px;
    margin: 20px 15px 0 15px;
    padding: 20px 40px;
    background-color: #101219;
}

.square_2:hover{
    border-bottom: 1px solid #fe7773;
}

.squares_2{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-areas: "num1 num2 num3" "num4 num5 num6";
    margin-bottom: 70px;
}
.num1{
    grid-area: num1;
}
.num2{
    grid-area: num2;
}
.num3{
    grid-area: num3;
}
.num4{
    grid-area: num4;
}
.num5{
    grid-area: num5;
}
.num6{
    grid-area: num6;
}

.section_2{
    background-color: #101219;
    position: relative;
    
}

.section_2_1{
    display: flex;
}

.section_2_1_1 img{
    height: 350px;
    width: 300px;
    padding: 10px 0;
}

.section_2_1_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_2_1_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section_2_1_2_text{
    padding: 30px;
}

.section_2_1_2_text h2{
    margin: 10px 0 10px 0;
}

.squares_3{
    display: flex;
}


.square_3{
    width: 250px;
    height: 150px;
    margin: 0 10px 0 10px;
    padding: 20px 40px;
    border: 2px solid #f9a766;
}

.squares_3 i {
    font-size: 30px;
}

.section_3{
    position: relative;
    background: radial-gradient(circle farthest-corner at 100px 50px, #5a5a5a, #352A3B);
}

.section_3_1{
    height: auto;
    width: 100%;
    padding: 60px;
}

.section_4{
    background-color: #101219;
    position: relative;
    
}

.section_4_1{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_4_1 h2{
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0 5px 0;
    /* как удлинить зачеркивание текста */
}

.section_4_1 h3{
    font-size: 30px;
    padding-bottom: 40px;
}

.section_4_1 form div{
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 1200px;
}


.section_4_1 form div input{
    height: 50px;
    width: 100%;
    background-color: #15171d;
    border: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    outline: none;
    font-size: 14px;
}

.section_4_1 form div input:focus{
    border-bottom: 2px solid #f9a766;
}

.section_4_1 form textarea{
    background-color: #15171d;
    margin-bottom: 10px;
    padding: 20px;
    outline: none;
    min-height: 200px;
    min-width: 1200px;
    max-width: 1200px;
    overflow: hidden;
    font-size: 14px;
}

.section_4_button{
    width: 150px;
    height: 60px;
    background-color: #15171d;
    margin-bottom: 90px;
}

footer{
    background-color: #15171d;
    position: relative;
}

.section_5_1{
    display: flex;
    padding: 40px 0;
}

.section_5 div{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.footer_square{
    margin: 0;
    border: 2px solid #f9a766;
    background-color: #15171d;
}



/*  
    основные размеры font-size 16px
    основные цвета
    background-color: #15171d, #101219, #f9a766 #fe7773 (оранжевый);
*/

/* видео на фон хедера и затемнить */
