*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 999;
}
.active{
    width: 240px;
}
.sidebar .logocontent .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.active .logocontent .logo{
    opacity: 1;
    pointer-events: none;
}

.logocontent .logo i{
    font: 28px;
    margin-right: 5px;
}
.logocontent .logo .logo_name{
    font-size: 20px;
    font-weight: 500;
}
.sidebar #btn{
    color: #fff;
    position: absolute;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0%;
    transform: translate(-50% , -50%);
    height: 35px;
    width: 122px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 9999;
}
.active ul li .tooltip{
    display: none;
    z-index: 9999;
}
.sidebar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 9999;
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.sidebar ul li #search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 21px;
    transition: all 0.5s ease;
}
.sidebar ul li #search:hover{
    background-color: #fff;
    color: #1d1b31;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 12px;
    white-space: nowrap;
    margin-top: 5px;
}
.sidebar ul li a:hover{
    background-color: #fff;
    color: #11101d;
    transition: 0.4s;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;

}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 500;
}
.profile .profile_details .job{
    font-size: 12px;

}
.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}
.active .profile #log_out{
    left: 88%;
}
.home_content{
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
.fa-slack{
    font-size: 24px;
}
.container1{
    padding-top: 40px;
    width: 90%;
    height: 100%;
    position: absolute;
    /* display: block; */
    display: none;
}
.glavblock{
    margin: 5px 0 5px 0;
}
.textname{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text1{
    margin-left: 100px;
}

.opisanie{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.opisanie textarea{
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    margin-left: 100px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
}

.glavvideo{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Параметры тени */
    border-radius: 5px;
    padding: 5px 0 5px 10px;
}

.btn{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
}
.btn button{
    margin: 0;
    height: 90%;
    width: 120px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
}
.btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.btn button:active{
    background-color: #11101d;
    color: #fff;
}
.container2{
    width: 90%;
    height: 100%;
    position: absolute;
    /* display: block; */
    padding-top: 15px;
    display: none;
}
.uslugiblock{
    margin: 10px 0 10px 0;
}
.textname1{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname1 h4{
    margin-right: 100px;
}

.text2{
    margin-left: 100px;
}

.opisanie1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.textname2{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname2 h4{
    margin-right: 100px;
}

.text3{
    margin-left: 100px;
}

.opisanie2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.textname3{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname3 h4{
    margin-right: 100px;
}

.text4{
    margin-left: 100px;
}

.opisanie3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.textname4{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname4 h4{
    margin-right: 100px;
}

.text5{
    margin-left: 100px;
}

.opisanie4{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.textname5{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname5 h4{
    margin-right: 100px;
}

.text6{
    margin-left: 100px;
}

.opisanie5{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.textname6{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname6 h4{
    margin-right: 100px;
}

.text7{
    margin-left: 100px;
}

.opisanie6{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.con2btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con2btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
}
.con2btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con2btn button:active{
    background-color: #11101d;
    color: #fff;
}
.container3{
    padding-top: 15px;
    width: 90%;
    height: 100%;
    position: absolute;
    /* display: block; */
    display: none;
}
.okompblock{
    margin: 5px 0 5px 0;
}
.content8{
    margin-top: 15px;
    height: 60px;
    width: 100%;
    border-radius: 5px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding-left: 5px;
}
.text8{
    padding-left: 15px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.text8 p{
    margin-right: 100px;
}
.text8 button{
    margin-left: 640px;
}
.text8 button{
    border-radius: 5px;
    border: none;
    background-color: #11101d;
    color: #fff;
    font-size:12px;
    height: 30px;
    width: 80px;
    transition: all 0.2s;
}
.text8 button:hover{
    background-color: #fff;
    border: 2px solid #11101d;
    color: #11101d;
}
.text8 button:active{
    background-color: #11101d;
    color: #fff;
}
.textname7{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text9{
    margin-left: 100px;
}

.opisanie7{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.opisanie7 textarea{
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    margin-left: 100px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
}
.textname8{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text10{
    margin-left: 100px;
}
.icon1{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.icon1 p{
    margin-right: 110px;
}

.opisanie8 input{
    padding-left: 5px;
    margin-left: 100px;
    height: 30px;
    width: 1000px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
}
.textname9{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text11{
    margin-left: 100px;
}
.icon2{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.icon2 p{
    margin-right: 110px;
}

.opisanie9 input{
    padding-left: 5px;
    margin-left: 100px;
    height: 30px;
    width: 1000px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
}
.textname10{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text12{
    margin-left: 100px;
}
.icon3{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.icon3 p{
    margin-right: 110px;
}
.opisanie10 input{
    padding-left: 5px;
    margin-left: 100px;
    height: 30px;
    width: 1000px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
}
.con3btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con3btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
}
.con3btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con3btn button:active{
    background-color: #11101d;
    color: #fff;
}
.container4{
    padding-top: 15px;
    width: 90%;
    height: 100%;
    position: absolute;
    /* display: block; */
    display: none;
}
.privblock{
    margin: 40px 0 5px 0;
}

.textname1{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname1 h4{
    margin-right: 100px;
}

.content13{
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 35%;
    padding:0 10px 0 10px ;
    width: 100%;
}
.textname11{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.textname11 h4{
    margin-right: 30px;
}

.text13{
    margin-left: 70px;
}

.opisanie11{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 14px;
}
.opisanie11 p{
    margin-right: 0px;
}
.opisanie11 textarea{
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    margin-left: 100px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
}
.con4btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con4btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
}
.con4btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con4btn button:active{
    background-color: #11101d;
    color: #fff;
}
.container5{
    width: 90%;
    height: 100%;
    position: absolute;
    /* display: block; */
    display: none;
}
.otblock{
    margin: 40px 0 5px 0;
}
.content8{
    margin-top: 15px;
    height: 60px;
    width: 100%;
    border-radius: 5px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding-left: 5px;
}
.text8{
    padding-left: 15px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.text8 p{
    margin-right: 100px;
}
.text8 button{
    margin-left: 720px;
}
.text8 button{
    border-radius: 5px;
    border: none;
    background-color: #11101d;
    color: #fff;
    font-size:12px;
    height: 30px;
    width: 80px;
    transition: all 0.2s;
}
.text8 button:hover{
    background-color: #fff;
    border: 2px solid #11101d;
    color: #11101d;
}
.text8 button:active{
    background-color: #11101d;
    color: #fff;
}
.content14{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 300px;
    padding:0 10px 10px 0px;
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-top: 15px;
    border: 2px solid #11101d;
}

.con5btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con5btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
}
.con5btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con5btn button:active{
    background-color: #11101d;
    color: #fff;
}
.container6{
    width: 90%;
    height: 100%;
    position: absolute;
    /* display: block; */
    display: none;
}
.conblock{
    margin: 40px 0 5px 0;
}

.style{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 35%;
    padding:0 10px 0 10px ;
    width: 100%;
    margin-top: 30px;
}
.textname13{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text15{
    margin-left: 100px;
}
.icon5{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.icon5 p{
    margin-right: 110px;
}

.textname14{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text16{
    margin-left: 100px;
}
.icon6{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.icon6 p{
    margin-right: 110px;
}

.textname15{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:2px solid  rgb(236, 236, 236);
    padding: 20px 0 20px 10px;
}
.text17{
    margin-left: 100px;
}
.icon7{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.icon7 p{
    margin-right: 110px;
}

.con6btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con6btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
}
.con6btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con6btn button:active{
    background-color: #11101d;
    color: #fff;
}
.container0{
    width: 90%;
    height: 100%;
    position: absolute;
    display: none;
}
.active1{
    display: block;
}
.off2{
    display: none;
}
.st{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.st input{
    padding-left: 5px;
    margin-left: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
}
.st textarea{
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    margin-left: 82px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
}
.ustyle textarea{
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    margin-left: 90px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
}
.sty{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.sty input{
    padding-left: 5px;
    margin-left: 100px;
    height: 30px;
    width: 1080px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
}
.zagolovok12{
    display: flex;
    align-items: center;
}
#name_review{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 1090px;
}
.opisanie12{
    display: flex;
    align-items: center;
    
}
.opisanie12 p{
    margin-left: 10px;
}
.opisanie12 textarea{
    height: 30px;
    margin: 10px 0 10px 38px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
    padding-left: 5px;
}
#sliderReview{
    width: 350px;
}
#sliderReview p{
    margin: 5px 0 0 10px;
}
.zagolovok2 input{
    margin-left: 90px;
    width: 1095px;
}
.zagolovok3 input{
    margin-left: 90px;
    width: 1095px;
}
.zagolovok4 input{
    margin-left: 90px;
    width: 1095px;
}
.zagolovok5 input{
    margin-left: 90px;
    width: 1095px;
}
.zagolovok6 input{
    margin-left: 90px;
    width: 1095px;
}
.zagolovok7 input{
    margin-left: 90px;
    width: 1095px;
}
.zagolovok1 input{
    width: 1090px;
}

.menublock{
    margin: 40px 0 5px 0;
}
.content0{
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 20%;
    padding:0 10px 0 10px ;
    width: 100%;
}
.zagolovok0{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid  rgb(236, 236, 236);
    padding-left: 10px;
}
.zagolovok0 input{
    padding-left: 5px;
    margin-left: 50px;
    height: 30px;
    width: 1093px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
}

.con0btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con0btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
}
.con0btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con0btn button:active{
    background-color: #11101d;
    color: #fff;
}
.content1{
    margin-top: 15px;
}
.content2{
    margin-top: 0px;
}                          
.container7{
    padding-top: 15px;
    width: 90%;
    height: 100%;
    position: absolute;
}
.portblock{
    margin: 20px 0 5px 0;
}
.con18{
    display: flex;
}
.con18 input{
    margin-top: 15px;
    margin-left: 5px;
}
.content18{
    margin-top: 15px;
    border: 2px solid #11101d;
    width: 250px;
    height: 300px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.content18 i{
    font-size: 22px;

}
.con7btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con7btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0 0 0 15px;
}

.con7btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con7btn button:active{
    background-color: #11101d;
    color: #fff;
}
.con14{
    display: block;
    width: 100%;
}
.con14 input{
    margin-top: 15px;
    margin-left: 5px;
}

.content14 i{
    font-size: 22px;

}
.con5btn{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.con5btn button{
    height: 50px;
    width: 150px;
    background-color: #11101d;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ;
    margin: 0;
    margin-left: 15px;
}
.con5btn button:hover{
    background-color: #fff;
    color: #11101d;
    border: 2px solid #11101d;
}
.con5btn button:active{
    background-color: #11101d;
    color: #fff;
}
.con18 input{
    height: 22px;
}
.inps input{
    display: block;
}
.inpst input{
    width: 220px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    outline: none;
    padding-left: 5px;
}

.container8{
    padding-top: 15px;
    width: 90%;
    height: 100%;
    position: absolute;
}
.calcblock{
    margin: 20px 0 5px 0;
}
.content19{
    background-color: red;
    width: 100%;
    height: 500px;
}
.Otblock2{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}
.opisanie13 input{
    margin-left: 15px;
}
.opis2{
    margin-left: 60px;
}
#checkbox1{
    margin: 0;
}
#text_contact1{
    margin-left: 80px;
}


.opisanie14 input{
    margin-left: 15px;
}
.opis3{
    margin-left: 60px;
}
#checkbox2{
    margin: 0;
}
#text_contact2{
    margin-left: 80px;
}


.opisanie15 input{
    margin-left: 15px;
}
.opis4{
    margin-left: 60px;
}
#checkbox3{
    margin: 0;
}
#text_contact3{
    margin-left: 80px;
}
.rightblock{
    margin-top: 15px;
    width: 250px;
    height: 300px;
}
.rightbloc1_1{
    height: 50%;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 0;
}
.rightbloc1_2{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}