*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    outline: none;
    text-decoration: none;
}

.display{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #101219;
}
.container{
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    width: 100%;
    height: 40%;
    border-radius: 12px;
    border: 2px solid #f9a766;
    background-color: #15171d;
}
.text{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    margin-top: 10px;
}
.mail{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.mail input{
    height: 90%;
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.pass{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass input{
    height:90%;
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.buttons{
    height: 15%;
    width: 100%;
    margin-top: 15px;
}
.button1{
    margin-top: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1 button{
    height: 90%;
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: all 0.2s;
}
.button1 button:hover{
    background-color: #f9a766; 
}
.button1 button:active{
    background-color: white;
}
.texts{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.registration{
    width: auto;
    height: 10%;
    margin-left: 150px;
}
.reset{
    height: 10%;
    width: auto;
}
a{
    font-size: 12px;
    color: #f9a766;
    transition: all 0.2s;
}
a:hover{
    color: white;
}
@media(max-width: 768px){
    a{
        font-size: 8px;
    }
    .text span{
        font-size: 18px;
    }
}
@media(max-width: 320px){
    a{
        font-size: 4px;
    }
    .text span{
        font-size: 12px;
    }
}
@media(max-height: 560px){
   .buttons{
       display: flex;
       height: 30%;
   }
   .button1{
    width: 50%;
    margin-left: 17px;
   }
   .button2{
    width: 50%;
    margin-right: 17px;
   }
   .reset{
       align-items: flex-start;
   }
}

.resetblock{
    display: none;
    /* display: block; */
    position: absolute;
    width: 450px;
    height: 250px;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid white;
}
.resetsection{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.resetcontainer{
    height: 100%;
    width: 90%;
}
.resetclose{
    height: 5%;
    width: 100%;
    text-align: end;
}
.resetclose a span{
    font-size: 22px;
    transition:0.2s;
    color: #f9a766;
}

.resetclose a span:hover{
    color: black;
    transition:0.2s;
}
.text1{
    height: 15%;
    width: 100%;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1 h1{
    font-size: 22px;
    color: #15171d;
    margin-bottom: 15px;
}

.resetpass{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetpass input{
    width: 80%;
    height: 40%;
    border-radius: 5px;
    border: 2px solid #8d8d8d;
    padding-left: 10px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
}

.resetbutton{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.resetbutton button{
    height: 40px;
    width: 25%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f9a766;
    transition: all 0.2s ;
}

.resetbutton button:hover{
    background-color: white; 
    border: 2px solid #f9a766;
}
.resetbutton button:active{
    background-color: #f9a766;
}


.registrblock{
    display: none;
    /* display: block; */
    width: 450px;
    position: absolute;
    height:320px;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid white;
}
.registrsection{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.registrcontainer{
    height: 100%;
    width: 90%;
}
.registrclose{
    height: 5%;
    width: 100%;
    text-align: end;
}
.registrclose span{
    font-size: 22px;
    transition:0.2s;
    color: #f9a766;
    cursor: pointer;
}

.registrclose span:hover{
    color: black;
    transition:0.2s;
}


.text2{
    height: 20%;
    width: 100%;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.text2 h1{
    font-size: 22px;
    color: #15171d;
}


.registrpass{
    width: 100%;
    height: 100px;
    text-align: center;
}
.registrpass input{
    width: 80%;
    height: 40%;
    border-radius: 5px;
    border: 2px solid #8d8d8d;
    padding-left: 10px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(236, 236, 236);
    margin-top: 10px;

}

.registrbutton{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.registrbutton button{
    height: 30%;
    width: 25%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f9a766;
    transition: all 0.2s ;
}

.registrbutton button:hover{
    background-color: white; 
    border: 2px solid #f9a766;
}
.registrbutton button:active{
    background-color: #f9a766;
}


.active{
    display: block;
}
.off{
    display: none;
}
