*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    outline: none;
    text-decoration: none;
}

html{
    background-color: #101219;
}
.auth{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.square{
    width: 540px;
    height: 350px;
    background-color: #15171d;
    border-radius: 10px;
    border: 2px solid #f9a766;
}
input{
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 400px;
}
button{
    margin-bottom: 10px;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    border: none;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 130%;
}
.text{
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail{
    margin: 0px 10px 0px 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}
#password{
    padding: 10px;
}
#email{
    padding: 10px;
}



#myBtn{
    transition: 0.2s;
    width: 400px;
    background-color: white;
    margin: 0px 10px 0px 10px;
}
#myBtn2:hover{
    transition: 0.2s;
    background-color: #f9a766;
}
#myBtn2:active{
    background-color: white;
}
#myBtn2{
    transition: 0.2s;
    width: 400px;
    background-color: white;
    margin: 0px 10px 0px 10px;
}
#myBtn:hover{
    transition: 0.2s;
    background-color: #f9a766;
}
#myBtn:active{
    background-color: white;
}
#resetPassword{
    transition: 0.2s;
}

#resetPassword:hover{
    transition: 0.2s;

}


.buttons{
    height: auto;
    display: flex;
}
.buttons1{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset{
    width: 100%;
    height: 20px;
    text-align: center;
}

span{
    font-size: 70%;
}
a{
    color: #f9a766;
    transition: 0.2s;
}
a:hover{
    color: white;
    transition: 0.2s;
}

@media(max-width: 620px){
    .square{
        width: 440px;
    }
    .mail{
        margin: 0px 50px 0px 50px;
    }
    .pass{
        margin: 0px 50px 0px 50px;
    }
    #myBtn{
        margin: 0px 50px 0px 50px;
    }
}
@media(max-width: 522px){
    .square{
        width: 380px;
    }
    .mail{
        margin: 0px 60px 0px 60px;
    }
    .pass{
        margin: 0px 60px 0px 60px;
    }
    #myBtn{
        margin: 0px 60px 0px 60px;
    }
}
@media(max-width: 382px){
    .square{
        width: 320px;
    }
    .mail{
        margin: 0px 70px 0px 70px;
    }
    .pass{
        margin: 0px 70px 0px 70px;
    }
    #myBtn{
        margin: 0px 70px 0px 70px;
    }
}
@media(max-width: 320px){
    .square{
        width: 250px;
    }
    .mail{
        margin: 0px 65px 0px 65px;
    }
    .pass{
        margin: 0px 65px 0px 65px;
    }
    #myBtn{
        margin: 0px 37px 0px 37px;
    }
}
